.profilepage {
  height: 100%;
  width: 100%;
  background-color: rgb(1, 47, 87);
}

.profilepage .LProfile-Section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 17rem;
  /* display: none; */
}
.profilepage .MProfile-Section {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 40rem;
/*   border: 2px solid red; */
}
.profilepage .RProfile-Section {
  /* border: 1px solid rgb(255, 0, 225); */
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 17rem;
  /*  display: none; */
}

/* profile Left-section */

.profilepage .profileLeft {
  position: fixed;
  top: 55px;
  height: 22rem;
  width: 16rem;
  background-color: rgb(229, 225, 225);
  margin: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.profilepage .profileLeft .editImg {
  border: 3px solid red;
  border-radius: 5px;
  height: 2.5rem;
  margin: 1rem;
  width: 15rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(240, 162, 60);
}

.profilepage .profileLeft .editImg ion-icon {
  height: 30px;
  width: 30px;
  display: flex;
  align-self: center;
  justify-content: center;
  align-items: center;
}

.profilepage .profileLeft .UserprofileImg {
  border: 1px solid red;
  margin: 1rem;
  height: 15rem;
  width: 14rem;
}

/* main */

.profilepage .profileMain {
  margin-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 700px;
  max-height: 100%;
  width: 40rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.profilepage .profileMain .userBackgroungIMG {
  height: 15rem !important;
  width: 100%;
}

/* edit block back img */

.profilepage .backImg {
  background-color: bisque;
  width: 100%;
  display: flex;
  justify-content:space-between;
  padding: 1rem;
}

.profilepage .profileMain .userDetailsEdit {
  margin-top:-1rem;
  height: 30rem;
  width: 100%;
  background-color: bisque;
}

.profilepage .form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profilepage .form .passwordSec {
  height: 30px;
  width: 14rem;
  border: 1px solid rgb(190, 186, 186);
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: rgb(254, 254, 254);
  border-radius: 5px;
  padding-top: 2px;
}

.profilepage .formSection {
  display: flex;
}

.profilepage .formSection .formSec1,
.formSec2 {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  /* border: 1px solid blue; */
  height: 25rem;
  width: 100%;
  padding: 1rem;
}

.profilepage .formSection .inputForm {
  height: 30px;
  width: 14rem;
}

.profilepage .formSection label {
  font-size: 14px;
}

.profilepage .formSection .labelAddr {
  display: flex;
  margin-left: -11rem;
}

.profilepage .formSection .address {
  height: 5.7rem;
  width: 15rem;
  display: flex;
  flex-wrap: wrap;
  margin-top: -2px;
  margin-left: 12px;
  /*  border: 1px solid red; */
}

.profilepage .selectForm,
select {
  height: 35px;
  width: 14rem;
}

.profilepage .formSection .addr {
  height: 30px;
  width: 7.1rem;
  margin: 2px;
}

/* profile right section */

.profilepage .profileRight {
  position: fixed;
  top: 55px;
  border: 1px solid red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30rem;
  width: 17rem;
  margin: 1rem;
  background-color: rgb(180, 179, 178);
}

.profileRight .userPersonalDetails {
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 10px 0;
}

.profileRight .userPersonalDetails .detailBox {
  height: 4.2rem;
  background-color: bisque;
  border-radius: 5px;
  width: 15.8rem;
  border: 1px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  padding-bottom: 5px;
}

.profileRight .userPersonalDetails .detailBox .name {
  display: flex;
  align-self: flex-start;
  overflow: hidden;
  font-weight: 500;
  padding: 5px 5px 5px 10px;
}

.profileRight .userPersonalDetails .detailBox .detail {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  min-height: 30px;
  max-height: 100%;
  flex-wrap: wrap;
  width: 15rem;
  font-size: 13px;
  font-weight: 500;
  background-color: rgb(255, 255, 255);
  border: 1px solid red;
  padding: 2px 7px;
  border-radius: 10px;
  padding-bottom: 5px;
}
