.right-friend-section {
  height: 32.2rem;
  width: 20.2rem;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  /* border: 2px solid red; */
}

.right-friend-section .section-display {
  display: flex;
  justify-content:flex-start;
  align-items: center;
  flex-direction: column;
  height: 10rem;
  width: 20rem;
}

.right-friend-section .adSectionFright img {
  background-color: rgb(205, 201, 201);
  height: 8rem;
  width: 18rem;
  margin: 1rem 0.5rem;
}

.right-friend-section .UserFriends {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background-color: rgb(213, 211, 211);
  height: 20rem;
  width: 18rem;
  margin: 1rem 0;
}

.right-friend-section .UserFriends .MenuBar {
  border: 2px solid blue;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  height: 4rem;
  padding: 0.5rem 0;
  width: 18rem;
  background-color: rgb(176, 189, 195);
}

.right-friend-section .UserFriends .MenuBar .sec1,
.sec2,
.sec3 {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  font-weight: 500;
  background-color: aquamarine;
  border: 2px solid red;
  margin: 0.3rem 5px;
  padding: 4px 5px;
  width: 100%;
  border-radius: 6px;
}

/* FriendsList */

.list-container {
  display: flex;
  justify-content: center;
  align-items: start;
  height: 17.5rem;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  cursor: all-scroll;
  border: 3px solid rgb(43, 0, 255);
}

.list-container .list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: 1px solid red;
  background-color: rgb(243, 224, 205);
  height: 3rem;
  margin: 0.6rem 0.5rem;
  width: 17rem;
  padding: 5px;
}

.list-container .list .userImgList {
  border: 1px solid red;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  cursor: pointer;
}

.list-container .list .UserDetailsList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 13.5rem;
}

.list-container .list .UserDetailsList .UsernameList {
  border: 1px solid red;
  background-color: aliceblue;
  border-radius: 5px;
  padding: 2px 5px;
  width: 100%;
  margin-right: 10px;
  overflow: hidden;
  cursor: pointer;
}
