.AddDocument .modal-dialog {
  width: 30rem !important;
}

.AddDocument .modal-header {
  height: 3.2rem;
}

.AddDocument .closeButton {
  background-color: rgb(192, 195, 195);
  border-radius: 50%;
}

.AddDocument .dropdownButton {
  background-color: rgb(201, 202, 204);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-top: 5px;
}

.AddDocument .addCard {
  min-height: 100%;
  max-height: 20.8rem;
  border: 3px solid;
  padding: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}


.AddDocument .textAreaCard .card-body {
  height:10.7rem;
  width: 27rem;
}

.AddDocument .textAreaCard .card-body .reactQuill {
  height: 6rem;
}

.AddDocument .addCardContent {
  background-color: rgb(193, 194, 196);
  height: 9rem;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.AddDocument .addCardContent .iconADD {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  background-color: rgb(153, 155, 157);
  display: flex;
  align-items: center;
  justify-content: center;
}

.AddDocument .addCardContent .iconADD ion-icon {
  font-size: 25px;
}

.AddDocument .addCardContent .midText {
  font-weight: 600;
  font-size: 19px;
}

.AddDocument .addCardContent .smallText {
  font-size: 14px;
}

.AddDocument .main {
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.AddDocument .main .resetButton {
  display: flex;
  margin: 0.5rem;
}

.AddDocument .main .documentsPreview {
  display: flex;
  max-height: 100%;
  width: 100%;
  overflow: hidden;
}

.AddDocument .modal-footer {
  height: 4.2rem;
}

/* documents component */

.documents {
  margin: 0.5rem;
  overflow-x: scroll;
  max-height: 10rem;
  max-width: 23rem;
  min-height: 100%;
  min-width: 100%;
  scroll-behavior: smooth;

}

.documents .document {
  border: 1px solid rgb(111, 2, 69);
  margin: 4px;
  height: 8.60rem;
  width: 6.1rem;
}

.documents .closeBtnIMG{
 border: 1px solid red;
 height: 30px;
 width: 30px;
 position: relative;
 margin-left: 5px;
 bottom:43px;
 border-radius: 10px;
 border-radius: 10px;
 background-color: transparent;
}

.documents .closeBtnIMG:hover{
  background-color: red;
}
