.leftSection {
  position: fixed;
  top: 55px;
}

.leftSection .userDetails {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  height: 22rem;
  margin: 1rem;
  width: 17rem;
  background-color: rgb(213, 212, 212);
}

.leftSection .userDetails .UserName {
  border: 3px dashed rgb(255, 0, 8);
  border-radius: 10px;
  overflow: hidden;
  height: 4rem;
  padding: 0px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0;
  width: 16rem;
  font-size: 15px;
  font-weight: 700;
}

.leftSection .userImgView {
  height: 13rem;
  width: 12rem;
  margin: 1rem;
  margin-bottom: 0;
}

.leftSection .userVisuals {
  height: 5rem;
  /*  border: 2px solid red; */
  width: 16rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.leftSection .userDetailsVisual1,
.userDetailsVisual2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 4rem;
  width: 4.7rem;
  border-radius: 20px;
  font-size: 14px;
  font-weight: bold;
}

.leftSection .adSection img {
  background-color: rgb(239, 219, 192);
  margin: 1rem;
  margin-top: 0;
  height: 7rem;
  width: 17rem;
}
